body{
margin:0;
font-family:Segoe UI,Arial;
background:#020617;
color:white;
direction:rtl;
}

nav{
background:#020617;
padding:15px;
text-align:center;
position:sticky;
top:0;
z-index:999;
}

nav a{
color:white;
margin:0 15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#38bdf8;
}

.header{
padding:80px 20px;
text-align:center;
background:linear-gradient(135deg,#020617,#0f172a);
}

.section{
padding:60px 20px;
max-width:1100px;
margin:auto;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;
}

.card{
background:#0f172a;
padding:25px;
border-radius:18px;
box-shadow:0 20px 40px rgba(0,0,0,.5);
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.btn{
display:inline-block;
margin-top:15px;
padding:12px 20px;
background:#38bdf8;
color:black;
border-radius:10px;
text-decoration:none;
font-weight:bold;
}

.back{
display:inline-block;
margin-top:30px;
padding:10px 16px;
background:#111827;
color:white;
border-radius:8px;
text-decoration:none;
}

footer{
text-align:center;
padding:40px;
opacity:.6;
}
